/*
h1{
    text-align: center;
    font-weight: normal;
    text-decoration: red line-through wavy 1px;
    letter-spacing: 15px;
    font-size: 70px;
    font-family: monospace, sans-serif;
}

a{
    text-decoration: none;
}

p{
    line-height: 2;
}
*/

/*UNIVERSAL SELECTORS
*{
    color: pink;
    background: rebeccapurple;
}
*/

body{
    background-color: #fffcf2;
}   

button{
    font-size: 30px;
    background-color: #ccc5b9 ;
}

h1, h2{
    color: #252422;
}

#search {
    color: red;
}

#signup{
    background-color: #229e99;
    color: #403d39;
}

.tag{
    color: #ea698b;
    background-color: #571089;
}

.post a{
    color: #42bfdd;
}

footer a{
    color: #007f5f;
}