div{
    width: 200px;
    height: 200px;
    background-color: #90e0ef;
}
 h1 {
     background-color: #caf0f8;
     padding-left: 80px;
     padding-top: 40px;

 }

 #one{
     background-color: #9b5de5;
     border: 4px solid black;
     box-sizing: border-box;
     border-radius: 10%;     
 }


 #two{
     background-color: #f15bb5;
     border-color: black;
     border-width: 3px;
     border-style: dotted;
     border-left-color: #ffc6ff;
     border-left-width: 8px;
     padding-right: 30px;
 }

 #three{
     background-color: #00bbf9;
     border: 15px inset #7400b8;
     border-left-style: dotted;
 }

 button{
     padding: 25px 20px 15px 10px;
 }
