h1{
    text-align: center;
    font-weight: normal;
    text-decoration: red line-through wavy 1px;
    letter-spacing: 15px;
    font-size: 70px;
}

a{
    text-decoration: none;
}

p{
    line-height: 2;
}
