/*
h1{
    text-align: center;
    font-weight: normal;
    text-decoration: red line-through wavy 1px;
    letter-spacing: 15px;
    font-size: 70px;
    font-family: monospace, sans-serif;
}

a{
    text-decoration: none;
}

p{
    line-height: 2;
}
*/

/*Universal Selectors*/
*{
    color: pink;
    background: rebeccapurple;
}

button{
    font-size: 30px;
}

h1, h2{
    color: rgb(8, 142, 187);
}

