section{
    background-color: #c45f2a;
    width: 500px;
    height: 500px;
}

div{
    background-color: #6699cc;
    width: 50%;
    height: 20%;
}

h1{
    font-size: 30px;
    border: 2px dotted #ff3c38;
    line-height: 200%;
}

article{
    font-size: 60px;
}

h2{
    font-size: 2em;
    margin-left: 1em;
}
 
h3{
    font-size: 1.5em;
}

button{
    font-size: 1em;
    padding: 0 1em;
    border-radius: .5em;
    background-color: #09bc8a;
    color: white;
}

p{
    font-size: 1em;
}